<div class="fixed bottom-8 right-8 md:hidden z-50">
  <a class="flex items-center justify-center w-16 h-16 bg-[color:var(--primary)] text-white shadow-2xl rounded-full" href="tel:+34918841694">
    <span class="material-symbols-outlined text-3xl">call</span>
  </a>
</div>
